= form_tag sessions_path, :method => :post, :id => 'login' do
  %fieldset
    %legend Login
    .clearfix
      = label_tag :email
      .input
        = text_field_tag :email
    .clearfix
      = label_tag :password
      .input
        = password_field_tag :password
    .clearfix
      = label_tag :remember_me, 'Keep me logged in'
      .input
        = check_box_tag :remember_me
    .actions
      = submit_tag 'Login', :class => "btn primary"
      = link_to "Cancel & Go Back", :back, :class => "btn"
