%h1 Login

= form_tag sessions_path, :method => :post, :id => 'login' do
  %fieldset
    = label_tag :email
    = text_field_tag :email
    = label_tag :password
    = text_field_tag :password
    = label_tag :remember_me, 'Keep me logged in'
    = check_box_tag :remember_me
  = submit_tag 'Login'
