%h2 Issues
- unless @issues.blank?
  #issue_index
    %ul
      %li 
        %span Title
        %span Description
        %span Author

      %ul#sortable_issues
        -@issues.each do |issue|
          %li.issues
            %p= link_to "#{issue.title}", issue_path(issue) 
            %p= issue.description
            %p= issue.author
            %span(data-issue_id="#{issue.id}")            
-else
  %h3 No Issues

#add_issues
  =link_to "Add Issue", new_issue_path

     
