= form_for issue, html: { class: 'stacked-form' } do |f|
  %fieldset
    %legend Create an issue
    %dl
      %dt= f.label :title
      %dd= f.text_field :title
    %dl
      %dt= f.label :description
      %dd= f.text_area :description
  %fieldset.actions
    = f.submit
