!!!
%html
  %head
    %title Defcon
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "Defcon", root_url
    %section.content
      = yield
    %aside.sidebar
      = yield(:sidebar)
    %footer

