!!! Strict
%html
  %head
    %title Defcon 
    =stylesheet_link_tag "application"
    =javascript_include_tag "jquery/jquery.min.js", "jquery/jquery-ui.min.js", "application"
    =csrf_meta_tag
  
  %body
    #wrapper
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      #header
        %h1 Defcon
        -if user_signed_in?
          %p.user_login_box
            = "#{current_user.email}"
            |
            = link_to 'My Account', edit_user_registration_path
            |
            = link_to 'Sign out', destroy_user_session_path
      %ul#navigation
        %li= link_to "Dashboard", root_path, :class => "#{active_class('^\/$')}"
        %li= link_to "Issues", issues_path, :class => "#{active_class('issues')}"
      #content
        = yield
      #footer
        %p Copyright 47Ten Studios &copy; 2010  All rights reserved.
